<div *ngIf="fetchedProduct" class="row product-details" >
    <div class="col-sm-6">
        <img src={{fetchedProduct.image}} class="product-image"/>
    </div>
    <div class="col-sm-6"> 
        <div class="details">
            <h1><b>{{fetchedProduct.pname}}</b></h1>
            <h2><b>Price:</b>{{fetchedProduct.price}}</h2>
            <div>
                <b>Color:</b><h1 class="product-color" [style.backgroundColor]="fetchedProduct.color"></h1>
            </div>
            
            <h4><b>Category:</b>{{fetchedProduct.category}}</h4>
            <h6><b>Description:</b>{{fetchedProduct.description}}</h6>
            <button *ngIf="!removeCart" class="btn" (click)="addToCart(fetchedProduct)">Add To Cart</button>
            <button *ngIf="removeCart" class="btn" (click)="removeFromCart(fetchedProduct.id)">Remove From Cart</button>

            
            <div class="quantity">
                <button (click)="handleQuantity('min')">--</button>
                <input type="text" value={{productCount}}/>
                <button (click)="handleQuantity('plus')">++</button>
            </div>


        </div>
    </div>
</div>
