

<div class="my-orders-container">
    <div class="container mt-5">
        <div class="row">
            <div class="offset-md-1">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <h4 class="mb-0 text-center">My Orders</h4>
                    </div>
                    <div class="card-body">
                        <div>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Order ID</th>
                                            
                                            <th>Total Amount</th>
                                            <th>Status</th>
                                            <th>Action</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let product of orderListIs">
                                            <td><span class="bi bi-cart icon-large" style="font-size: 2rem;"></span></td>
                                            <td>{{product.id}}</td>
                                            
                                            <td>{{product.totalAmount}}</td>
                                            <td>dispatched</td>
                                            <td><button (click)="cancelMyOrder(product.id)">Cancel Order</button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <ng-template #noOrders>
                            <div class="alert alert-info" role="alert">
                                You haven't placed any orders yet.
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>