/* You can add global styles to this file, and also import other style files */
@import '~bootstrap-icons/font/bootstrap-icons.css';


body
{
    font-family: sans-serif;
}

.common-form
{
text-align: center;
display: flex;
margin: auto;
flex-direction: column;
width: 300px;
}

.form-input
{
    margin-bottom: 20px;
    height: 40px;
    border: 2px solid blueviolet;
}

.form-button
{
    margin-bottom: 20px;
    height: 50px;
    border: 1px solid blueviolet;
}
