<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2" *ngFor="let item of productList">

            <div class="card">
                <h4 class="card-header" routerLink="/product/{{item.id}}">{{item.pname}}</h4>

                <a routerLink="/product/{{item.id}}"><img src={{item.image}} /></a>

                <div class="product-details text-center">
                    <h6 class="price-head">Price:<b>{{item.price}}</b> Rs</h6>
                    <h6 class="color-head">Category:{{item.category}}</h6>
                </div>
                
            </div>


        </div>
    </div>
</div>